@model NiceShoesWeb.Context_DB.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <h2>Delete</h2>

    <h3>Bạn có chắc muốn xóa sản phẩm này không?</h3>
    <div>
        <h4>SanPham</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IdSP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdSP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TenSP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenSP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnhSP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnhSP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GiaSP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiaSP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdThuongHieu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdThuongHieu)
            </dd>

        </dl>

        @using (Html.BeginForm("Delete", "ProductAd", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
<!-- /.content-wrapper -->