<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>NiceShoes</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <!-- //Fonts -->

</head>

<body>

    <!-- mian-content -->
    <div class="main-banner" id="home">
        <!-- header -->
        <header class="header">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4">
                    <div id="logo">
                        <h1> <a href="http://localhost:56414/TrangChu"><span aria-hidden="true"></span>NiceShoes</a></h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mt-2">
                        <li class="active">@Html.ActionLink("Trang Chủ", "Index", "TrangChu")</li>
                        <li>@Html.ActionLink("Giới Thiệu", "Index", "GioiThieu")</li>
                        <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                        <li>@Html.ActionLink("Sản Phẩm", "Index", "SanPham")</li>
                        <li>@Html.ActionLink("Liên Hệ", "Index", "LienHe")</li>
                        <li>@Html.ActionLink("Giỏ Hàng", "Index", "GioHang")</li>
                        <li>@Html.ActionLink("Đăng Nhập", "Index", "DangNhap")</li>
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->
        <!--/banner-->
        <div class="banner-info">
            <p>Nổi Bật Của Tuần</p>
            <h3 class="mb-4">Giày Thông Dụng Dành Cho Nam</h3>
            <div class="ban-buttons">
                @Html.ActionLink("Mua Sắm", "Index", "SanPham")
                @Html.ActionLink("Chi Tiết", "Index", "Blog")
            </div>
        </div>
        <!--// banner-inner -->

    </div>
    <!--//main-content-->
    @RenderBody()
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-4 footer-grid_section">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="http://localhost:56414/TrangChu"><span aria-hidden="true"></span>NiceShoes</a>
                    </h2>
                    <p>Đảm Bảo Chất Lượng & Uy tín</p>
                    <h4 class="sub-con-fo ad-info my-4">Theo Dõi Chúng Tôi</h4>
                    <ul class="social_list list-unstyled">
                        <li>
                            <a href="https://www.facebook.com/"target="_blank" class="pvt_facebook">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="https://twitter.com/"target="_blank" class="pvt_twitter">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/"target="_blank" class="pvt_dribble">
                                <span class="fa fa-instagram"></span>
                            </a>
                        </li>
                        <li class="ml-2">
                            <a href="https://www.google.com/"target="_blank" class="pvt_google">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 footer-right">
                    <div class="news-letter">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Đăng Ký Nhận Thông Báo</h3>

                        <p>Bằng cách đăng ký vào danh sách gửi thư của chúng tôi, bạn sẽ luôn nhận được những tin tức và cập nhật Mới nhất từ chúng tôi.</p>
                        <form action="#" method="post" class="newsletter">
                            <input type="email" name="Email" placeholder="Nhập email của bạn..." required="">
                            <button class="btn1"><span class="fa fa-paper-plane-o" aria-hidden="true"></span></button>

                        </form>
                    </div>
                    <div class="row mt-lg-4 bottom-sec-nav mx-0">
                        <div class="col-md-4 footer-grid_section">
                            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Thông Tin</h3>
                            <ul class="list-unstyled icons">
                                <li>
                                    @Html.ActionLink("Trang Chủ", "Index","TrangChu")
                                </li>
                                <li class="mt-3">
                                    @Html.ActionLink("Về NiceShoes", "Index", "GioiThieu")
                                </li>
                                <li class="mt-3">
                                    @Html.ActionLink("Thư Viện", "Index", "Blog")
                                </li>
                                <li class="mt-3">
                                    @Html.ActionLink("Dịch Vụ", "Index", "DangNhap")
                                </li>
                                <li class="mt-3">
                                    @Html.ActionLink("Liên Hệ Với Chúng Tôi", "Index","LienHe")
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-grid_section">
                            <!-- social icons -->
                            <div class="agileinfo_social_icons">
                                <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Dịch Vụ Khách Hàng</h3>
                                <ul class="list-unstyled icons">

                                    <li>
                                        @Html.ActionLink("Về NiceShoes", "Index", "GioiThieu")
                                    </li>
                                    <li class="mt-3">
                                        @Html.ActionLink("Giao hàng & Trả hàng", "Index", "GioiThieu")
                                    </li>
                                    <li class="mt-3">
                                        @Html.ActionLink("Uy Tín", "Index", "GioiThieu")
                                    </li>
                                    <li class="mt-3">
                                        @Html.ActionLink("Điều khoản & Điều kiện", "Index", "DangNhap")
                                    </li>
                                    <li class="mt-3">
                                        @Html.ActionLink("Chính sách bảo mật", "Index", "DangNhap")
                                    </li>
                                </ul>
                            </div>
                            <!-- social icons -->
                        </div>
                        <div class="col-md-4 footer-grid_section my-md-0 my-5">
                            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Thông Tin Liên Hệ</h3>
                            <div class="contact-info">
                                <div class="footer-address-inf">
                                    <h4 class="ad-info mb-2">Đường Dây Nóng</h4>
                                    <p><a href="tel:+0800000000">+08 XXX XX XXX</a></p>
                                </div>
                                <div class="footer-address-inf my-4">
                                    <h4 class="ad-info mb-2">Email </h4>
                                    <p><a href="mailto:NiceShoes@example.com">NiceShoes@example.com</a></p>
                                </div>
                                <div class="footer-address-inf">
                                    <h4 class="ad-info mb-2">Địa Chỉ</h4>
                                    <p><a href="https://goo.gl/maps/jktCnzpZiLi52kRE6"target="_blank">An Phú Đông, Q.12, TP.HCM</a></p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="cpy-right text-left row">
                        <p class="col-md-10">
                            © 2022 NiceShoes | Design by
                            @Html.ActionLink("NiceShoes.", "Index", "TrangChu")
                        </p>
                        <!-- move top icon -->
                        <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true"></span></a>
                        <!-- //move top icon -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->

</body>

</html>